* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: rgb(245, 248, 255);
}
.container {
  margin: auto;
  max-width: 1200px;
  padding: 0px 20px;
}
/* nav-section-style */

.navbar-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.nav-style {
  display: flex;
  gap: 50px;
}
.nav-links ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

.nav-links a {
  text-decoration: none;
}
.nav-home {
  font-weight: 700;
  font-size: 16px;
  color: rgb(37, 36, 50);
}
.nav-shop-us {
  font-weight: 400;
  font-size: 16px;
  color: rgb(137, 135, 161);
}
.cart {
  display: flex;
  align-items: center;
  gap: 8px;
}
.nav-cart {
  font-weight: 400;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

/* banner-section-style */
.banner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.banner-content {
  max-width: 100%;
  flex: 1;
  text-align: left;
}
.banner-title {
  font-weight: 700;
  font-size: 65px;
  color: rgb(0, 0, 0);
}
.orange {
  color: rgb(233, 90, 8);
}
.banner-sub-title {
  font-weight: 400;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}
.banner-image {
  max-width: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.banner-image img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* Product-style-section */
.product-section {
  text-align: center;
  margin-top: 50px;
}
.product-section-content {
  padding: 20px 20px;
}

.product-section h3 {
  font-weight: 700;
  font-size: 50px;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}
.product-section p {
  font-weight: 400;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}
.product-title {
  font-weight: 500;
  font-size: 22px;
  color: black;
}
.product-sub-title {
  font-weight: 700;
  font-size: 22px;
  color: black;
}
.product-btn {
  padding: 20px 50px;
  background-color: rgb(233, 90, 8);
  color: white;
  border: none;
  width: 100%;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.product-image {
  width: 100%;
}

/* flowers&plants-style */
.flowers-plants-section {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  align-items: stretch;
  margin-top: 150px;
  align-items: center;
}

.image-container {
  position: relative;
  flex: 1;
  width: 50%;
}
.store-image {
  width: 100%;
  display: block;
  height: auto;
}

.trust-image {
  position: absolute;
  top: -120px;
  right: -70px;
  width: 50%;
  height: auto;
  outline: none;
  background: none;
  border: none;
}

.text-content {
  flex: 1;
  width: 50%;
  height: auto;

  justify-content: center;
}
.text-content-title {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 20px;
  /* text-align: left; */
}

.text-content ul li {
  font-weight: 400;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
/* ......Responsive....... */
@media screen and (max-width: 768px) {
  /* .......navbar section....... */
  .navbar-section {
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 16px 30px 16px;
  }
  .nav-links {
    display: none;
  }
  /* ?banner-section */
  .banner-section {
    flex-direction: column;
  }
  .banner-image {
    max-width: 100%;
    order: -1;
  }

  .banner-content {
    max-width: 100%;
    padding: 15px 20px;
  }
  .banner-title {
    font-size: 34px;
    padding: 26px 50px;
  }
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  /* flowers&plants-style */
  .flowers-plants-section {
    flex-direction: column;
    padding: 0px 16px;
  }
  .image-container,
  .text-content {
    width: 100%;
  }
}
