* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: rgb(245, 248, 255);
}

.container {
  margin: 0px auto;
  max-width: 1400px;
  padding: 0px 20px;
}
/* nav-section-style */

.navbar-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.nav-style {
  display: flex;
  gap: 50px;
}
.nav-links ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

.nav-links a {
  text-decoration: none;
}
.nav-home {
  font-weight: 700;
  font-size: 16px;
  color: rgb(37, 36, 50);
}
.nav-shop-us {
  font-weight: 400;
  font-size: 16px;
  color: rgb(137, 135, 161);
}
.cart {
  display: flex;
  align-items: center;
  gap: 8px;
}
.nav-cart {
  font-weight: 400;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

/* banner-section-style */
.banner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.banner-content {
  max-width: 100%;
  flex: 1;
  text-align: left;
}
.banner-title {
  font-weight: 700;
  font-size: 65px;
  color: rgb(0, 0, 0);
}
.orange {
  color: rgb(233, 90, 8);
}
.banner-sub-title {
  font-weight: 400;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}
.banner-image {
  max-width: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.banner-image img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* Product-style-section */
.product-section {
  text-align: center;
  margin-top: 50px;
}
.product-section-content {
  padding: 20px 20px;
}

.product-section h3 {
  font-weight: 700;
  font-size: 50px;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}
.product-section p {
  font-weight: 400;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}
.product-title {
  font-weight: 500;
  font-size: 22px;
  color: black;
}
.product-sub-title {
  font-weight: 700;
  font-size: 22px;
  color: black;
}
.product-btn {
  padding: 20px 50px;
  background-color: rgb(233, 90, 8);
  color: white;
  border: none;
  width: 100%;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.product-image {
  width: 100%;
}

/* flowers&plants-style */
.flowers-plants-section {
  display: flex;
  justify-content: space-between;
  gap: 80px;

  margin-top: 150px;
  align-items: center;
}

.image-container {
  position: relative;
  flex: 1;
  width: 50%;
}
.store-image {
  width: 100%;
  display: block;
  height: auto;
}

.trust-image {
  position: absolute;
  top: -120px;
  right: -70px;
  width: 50%;
  height: auto;
  outline: none;
  background: none;
  border: none;
}

.text-content {
  flex: 1;
  width: 50%;
  height: auto;

  justify-content: center;
}
.text-content-title {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 20px;
}

.text-content ul li {
  font-weight: 400;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
/* Latest-Deals-style */
.latest-deals {
  margin-top: 50px;
}

.deals-header {
  text-align: center;
  margin-bottom: 60px;
}

.deals-header h2 {
  font-size: 50px;
  font-weight: 700;
}

.deals-header h2 .orange {
  color: orange;
}

.deals-header p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  max-width: 700px;
  margin: 0px auto;
}

.deals-grid {
  display: flex;
  gap: 30px;
}

.left-deals {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.right-deals {
  flex: 2;
}

.left-card,
.right-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.left-card img,
.right-card img {
  width: 100%;
  height: auto;
  display: block;
}

.left-card-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background: none;
}

.left-card-header h3 {
  font-size: 20px;
  font-weight: 600;
  background: none;
}

.shop-btn {
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: none;
}
/* subscribe-section-style */
.subscribe-section {
  background-image: url(./images/news-letter-bg.png);
  background-position: center;
  background-size: cover;
  padding: 100px 20px;
  text-align: center;
  margin-top: 100px;
}
.subscribe-content {
  max-width: 700px;
  margin: 0px auto;
}
.subscribe-title {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 30px;
  background: none;
  color: white;
}
.subscribe-form {
  display: flex;
}
.subscribe-form input[type="email"] {
  flex: 1;
  padding: 18px 20px;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
}
.subscribe-form button {
  padding: 18px 25px;
  background-color: rgb(233, 90, 8);
  font-weight: 600;
  font-size: 16px;
  color: rgb(255, 255, 255);
  border: none;
}
/* footer-section-style */
.footer-section {
  margin-top: 50px;
  margin-bottom: 50px;
}
.footer-content {
  display: flex;
  justify-content: space-around;
  gap: 100px;
}
.footer-content p {
  font-weight: 400;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}
.footer-column ul {
  list-style: none;
}
.footer-column ul li {
  margin-bottom: 32px;
}
.footer-column ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: rgb(107, 114, 128);
}
.footer-icons a {
  display: inline-block;
  margin-right: 10px;
}
.footer-icons img {
}
/* ......Responsive....... */
@media screen and (max-width: 768px) {
  /* .......navbar section....... */
  .navbar-section {
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 16px 30px 16px;
  }
  .nav-links {
    display: none;
  }
  /* ?banner-section */
  .banner-section {
    flex-direction: column;
  }
  .banner-image {
    max-width: 100%;
    order: -1;
  }

  .banner-content {
    max-width: 100%;
    padding: 15px 20px;
  }
  .banner-title {
    font-size: 34px;
    padding: 26px 50px;
  }
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  /* flowers&plants-style */
  .flowers-plants-section {
    flex-direction: column;
    padding: 0px 16px;
    margin-top: 100px;
  }
  .image-container,
  .text-content {
    width: 100%;
  }
  .trust-image {
    display: none;
  }
  .deals-grid {
    flex-direction: column;
  }
  .subscribe-title {
    font-size: 30px;
  }
  .subscribe-form input[type="email"],
  .subscribe-form button {
    width: 50%;
  }
  .footer-content {
    display: block;
    flex-direction: column;
    margin-top: 10px;
  }
}
